<h1>Listing ballots</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ballots.each do |ballot| %>
  <tr>
    <td><%= ballot.name %></td>
    <td><%= ballot.start %></td>
    <td><%= ballot.end %></td>
    <td><%= link_to 'Show', ballot %></td>
    <td><%= link_to 'Edit', edit_ballot_path(ballot) %></td>
    <td><%= link_to 'Destroy', ballot, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ballot', new_ballot_path %>
