<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ballot.name %>
</p>

<p>
  <b>Start:</b>
  <%= @ballot.start %>
</p>

<p>
  <b>End:</b>
  <%= @ballot.end %>
</p>


<%= link_to 'Edit', edit_ballot_path(@ballot) %> |
<%= link_to 'Back', ballots_path %>
